{% extends 'base.html' %}

{% block content %}
<div class="flex between">
    <h2>{{ name }} Profile</h2>
    <form class="flex align-center" action="search">
        <label for="query">Search:</label>
        <input class="mx-1" name="query" type="text">
        <button class="btn btn-primary">{% include 'icons/search.svg' %}</button>
    </form>
</div>
<h3>{{ name }} Snippets</h3>
{% if snippets.exists %}
{% include 'core/snippet_list.html' %}
{% else %}
No snippets
{% endif %}
<h3>{{ name }} Favorite Snippets</h3>
{% if favorites.exists %}
{% include 'core/snippet_list.html' with snippets=favorites %}
{% else %}
No favorite snippets
{% endif %}
{% endblock %}
